.profile_upper{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile_videos{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profile_videos > video {
    width: 10rem;
    height: 20rem;
    padding: 0.5 rem;
}

@media only screen and (max-width: 500px) {
    .profile_upper{
        flex-direction: column;
    }
}